# Python artifacts
__pycache__/
*.pyc
.venv/

# VS Code
.vscode/

# Airflow logs (keep folder structure)
airflow/logs/*
!airflow/logs/.gitkeep

# MLflow artifacts (tracking models)
mlflow/artifacts/

# PostgreSQL volume
postgres_data/

# SQLite leftovers (if accidentally created)
*.sqlite3
